/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #f44336;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* label focus color */
.input-field input[type=password]:focus + label {
  color: #f44336;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #f44336;
}

.tabs li.tab a {
  color: #9ccc65;
}

.tabs li.tab a:hover {
  color: #9ccc65;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #9ccc65;
}

.tabs .indicator {
  background-color: #9ccc65;
}

